*~
*.bak
.~*#
.*.swp
*.sav
*.tmp
__MACOSX
.DS_Store

*.dvi
*.aux
*.bit
*.blg
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.toc
*.snm
*.vrb
*.fls
*.spl
*.nav
*.backup
*.fdb_latexmk
*.synctex.gz
*.brf

slides.pdf
leh.*
.vscode

beamerprevframe.*